.sideBar{
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    height: 100vh;
}

.icon{ 
    font-size: 1.4rem;
}
.icon:active {
    background-color: rgb(78, 78, 78);
    border-radius: 50%;
    padding: 1rem;
}