.chatList{
    background-color: #272626;
    height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem;
    cursor:pointer;
}

.title{ font-size: 1.5rem; }
.icons{
    font-size: 1.3rem;
    display: flex;
    gap: 1.2rem;
}
.buttons{
   display: flex;
   gap: .75rem;
   padding: .75rem;
}

.button{
    color: #f1e5e5;
    background-color: rgb(78, 78, 78);
    padding: .25rem;
    border-radius: 10px;
    font-size: .9rem;
    cursor: pointer;
    border: rgb(78, 78, 78) ;
}